<%- include ('../common/head') %>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>
    <header>
        <%- include ('../common/header') %>

    </header>
    <main>
        <div class="container">
          <div class="col col-md-12">
            <div class="profile-pic">
                <img src="/images/profile pic.jpg" alt="Profile Picture" width="200">
            </div>
            <h1>About Me</h1>
            <p>Hello, I am Nahida Ratna.
                I'm a passionate student of Software Engineering Technology at Centennial College. 
                With a keen interest in the world of technology,  constantly seek to expand my knowledge 
                and skills in software development. Beyond the world of coding, I'm a music enthusiast.
                I have a love for travel and adventure, always looking to discover new cultures and cuisines. 
                In my free time, I can often be found experimenting in the kitchen, whipping up delicious dishes 
                that reflect my culinary creativity. With a diverse range of interests and a dedication to learning, 
                I'm on a journey to make a meaningful impact in the world of software engineering while savoring 
                life's many flavors and experiences.
            </p>
            <p>Feel free to learn more about me and my journey.</p>
         </div>
        
        </div>
    </main>
    <footer>
        <%- include ('../common/footer') %>
    </footer>
</body>
</html>